<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
  <script type="text/javascript" src="../canvas.js"></script>
  <link rel="stylesheet" href='../app.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>

</body>

<script type="text/javascript">
  var x = document.getElementById("fail").innerText
  sendNicknameAndRoom(x);

  var y = document.getElementById('url');
url.innerText = window.location.href;
</script>

</html>
